.container{
    margin-bottom: 100px;
}
.carousel-bgcolor{
    background-color:#FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: #fff;border: none;border-radius:8px;padding:9px 25px;
    cursor: pointer;
}
.cat-1, .cat-2, .cat-3{
    padding:10px 30px;
    border-radius:12px;

}
.cat-1{

    background-image: linear-gradient(90deg,#dfd441, #d5e792);
   
}
.cat-2{
    background-image: linear-gradient(90deg,#3dafc4, #c1d7db);
}
.cat-3{
    background-image: linear-gradient(90deg,#3d46c4, #b1a6e0);
}
.categories h1{
    color: #fff;
}